run = ""
entrypoint = "README.md"

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Build ASmap"

[[workflows.workflow]]
name = "Build ASmap"
mode = "sequential"
author = 11084461

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./run_kartograf.sh"
